In [1]:
import pandas as pd
import os
import glob

In [131]:
file = '201803_citibikenyc_tripdata.csv'
feb = '201802_citibikenyc_tripdata.csv'
jan = '201801_citibikenyc_tripdata.csv'

In [3]:
path = '/Users/gta/Desktop/bike_data'
all_files = glob.glob(os.path.join(path, "*.csv"))
df_from_each_file = (pd.read_csv(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

(2538743, 16)

In [24]:
df_sample = df.sample(frac=0.2, replace=True)

In [25]:
df_sample.shape

(507749, 16)

In [26]:
df_sample.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'name_localizedValue0',
 'usertype',
 'birth year',
 'gender']

In [27]:
df_sample.reset_index(drop=True)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,666,2018-03-17 19:46:19,2018-03-17 19:57:25,490,8 Ave & W 33 St,40.751551,-73.993934,446,W 24 St & 7 Ave,40.744876,-73.995299,29801,24 Hour,Customer,NaN,0
1,703,2018-03-05 07:30:39,2018-03-05 07:42:22,401,Allen St & Rivington St,40.720196,-73.989978,537,Lexington Ave & E 24 St,40.740259,-73.984092,31901,FREE Bonus Month with Annual Membership,Subscriber,1994.0,1
2,79,2018-01-13 18:14:54,2018-01-13 18:16:14,252,MacDougal St & Washington Sq,40.732264,-73.998522,369,Washington Pl & 6 Ave,40.732241,-74.000264,26835,Annual Membership,Subscriber,1967.0,1
3,226,2018-01-19 22:18:41,2018-01-19 22:22:27,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,15429,Annual Membership from Citi Bike App,Subscriber,1979.0,1
4,566,2018-03-17 22:13:16,2018-03-17 22:22:42,3103,N 11 St & Wythe Ave,40.721533,-73.957824,3108,Nassau Ave & Russell St,40.725570,-73.944340,30768,FREE Bonus Month with Annual Membership,Subscriber,1987.0,2
5,914,2018-01-25 19:25:53,2018-01-25 19:41:08,257,Lispenard St & Broadway,40.719392,-74.002472,504,1 Ave & E 16 St,40.732219,-73.981656,33449,Annual Membership,Subscriber,1972.0,1
6,626,2018-01-10 14:38:44,2018-01-10 14:49:11,540,Lexington Ave & E 29 St,40.743116,-73.982154,3632,E 12 St & Avenue B,40.728049,-73.978812,21202,CDCU,Subscriber,1987.0,1
7,1278,2018-02-13 07:47:02,2018-02-13 08:08:20,3293,W 92 St & Broadway,40.792100,-73.973900,456,E 53 St & Madison Ave,40.759711,-73.974023,31494,Annual Membership,Subscriber,1976.0,1
8,784,2018-01-08 22:32:31,2018-01-08 22:45:35,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,3420,Douglass St & 3 Ave,40.680213,-73.984327,31434,Annual Membership,Subscriber,1980.0,1
9,783,2018-01-25 16:46:20,2018-01-25 16:59:23,534,Water - Whitehall Plaza,40.702551,-74.012723,249,Harrison St & Hudson St,40.718710,-74.009001,15169,Annual Membership,Subscriber,1992.0,2
10,748,2018-01-29 06:10:21,2018-01-29 06:22:50,423,W 54 St & 9 Ave,40.765849,-73.986905,459,W 20 St & 11 Ave,40.746745,-74.007756,33433,Annual Membership,Subscriber,1971.0,1
11,1009,2018-03-12 15:02:29,2018-03-12 15:19:19,418,Front St & Gold St,40.702240,-73.982578,355,Bayard St & Baxter St,40.716021,-73.999744,30811,Annual Membership,Subscriber,1982.0,1
12,827,2018-03-07 10:25:09,2018-03-07 10:38:57,3160,Central Park West & W 76 St,40.778968,-73.973747,3318,2 Ave & E 96 St,40.783964,-73.947167,30819,Annual Membership,Subscriber,1961.0,1
13,1890,2018-03-11 19:46:48,2018-03-11 20:18:18,3224,W 13 St & Hudson St,40.739974,-74.005139,3435,Grand St & Elizabeth St,40.718822,-73.995960,26125,24 Hour,Customer,NaN,0
14,1862,2018-02-27 20:53:25,2018-02-27 21:24:28,379,W 31 St & 7 Ave,40.749156,-73.991600,264,Maiden Ln & Pearl St,40.707065,-74.007319,15678,Annual Membership,Subscriber,1995.0,2
15,453,2018-03-25 11:45:36,2018-03-25 11:53:09,494,W 26 St & 8 Ave,40.747348,-73.997236,459,W 20 St & 11 Ave,40.746745,-74.007756,30834,Annual Membership,Subscriber,1991.0,2
16,390,2018-03-29 19:21:24,2018-03-29 19:27:54,471,Grand St & Havemeyer St,40.712868,-73.956981,3077,Stagg St & Union Ave,40.708771,-73.950953,32450,Annual Membership,Subscriber,1979.0,1
17,89,2018-02-01 15:16:46,2018-02-01 15:18:16,3660,W 16 St & 8 Ave,40.741022,-74.001385,482,W 15 St & 7 Ave,40.739355,-73.999318,27139,Annual Membership,Subscriber,1955.0,1
18,823,2018-01-09 19:57:31,2018-01-09 20:11:14,527,E 33 St & 2 Ave,40.744023,-73.976056,3223,E 55 St & 3 Ave,40.758997,-73.968654,20052,Annual Membership,Subscriber,1992.0,1
19,140,2018-01-04 18:01:39,2018-01-04 18:03:59,3438,E 76 St & 3 Ave,40.772249,-73.958421,3135,E 75 St & 3 Ave,40.771129,-73.957723,32631,Annual Membership,Subscriber,1965.0,2
20,2834,2018-03-24 15:23:07,2018-03-24 16:10:22,3547,Broadway & Moylan Pl,40.814326,-73.959025,508,W 46 St & 11 Ave,40.763414,-73.996674,30619,Day Pass,Customer,1999.0,1
21,524,2018-02-28 06:42:54,2018-02-28 06:51:38,3172,W 74 St & Columbus Ave,40.778567,-73.977550,3443,W 52 St & 6 Ave,40.761330,-73.979820,20323,Annual Membership,Subscriber,1983.0,1
22,395,2018-02-02 18:40:17,2018-02-02 18:46:53,236,St Marks Pl & 2 Ave,40.728419,-73.987140,252,MacDougal St & Washington Sq,40.732264,-73.998522,31511,Annual Membership,Subscriber,1983.0,1
23,257,2018-02-13 13:47:08,2018-02-13 13:51:26,3427,Lafayette St & Jersey St,40.724305,-73.996010,357,E 11 St & Broadway,40.732618,-73.991580,31251,Annual Membership,Subscriber,1992.0,1
24,672,2018-03-20 09:29:08,2018-03-20 09:40:20,368,Carmine St & 6 Ave,40.730386,-74.002150,474,5 Ave & E 29 St,40.745168,-73.986831,25451,Annual Membership,Subscriber,1983.0,1
25,754,2018-03-06 18:42:23,2018-03-06 18:54:57,423,W 54 St & 9 Ave,40.765849,-73.986905,435,W 21 St & 6 Ave,40.741740,-73.994156,32022,Annual Membership,Subscriber,1983.0,1
26,452,2018-03-05 20:36:24,2018-03-05 20:43:56,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,3108,Nassau Ave & Russell St,40.725570,-73.944340,30162,Annual Membership,Subscriber,1994.0,1
27,1742,2018-01-24 18:43:28,2018-01-24 19:12:30,3463,E 16 St & Irving Pl,40.735367,-73.987974,363,West Thames St,40.708347,-74.017134,16527,FREE Bonus Month with Annual Membership,Subscriber,1979.0,1
28,1625,2018-01-11 08:23:00,2018-01-11 08:50:05,484,W 44 St & 5 Ave,40.755003,-73.980144,3461,Murray St & Greenwich St,40.714852,-74.011223,29755,Annual Membership,Subscriber,1965.0,1
29,454,2018-01-09 09:56:26,2018-01-09 10:04:00,501,FDR Drive & E 35 St,40.744219,-73.971212,164,E 47 St & 2 Ave,40.753231,-73.970325,24961,Annual Membership,Subscriber,1966.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507719,708,2018-03-19 07:23:48,2018-03-19 07:35:36,3420,Douglass St & 3 Ave,40.680213,-73.984327,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,32290,Annual Membership,Subscriber,1980.0,1
507720,572,2018-03-06 09:24:19,2018-03-06 09:33:52,462,W 22 St & 10 Ave,40.746920,-74.004519,402,Broadway & E 22 St,40.740343,-73.989551,33284,Join Citi Bike for $14.95/month,Subscriber,1961.0,1
507721,196,2018-03-13 16:30:31,2018-03-13 16:33:47,3139,E 72 St & Park Ave,40.771183,-73.964094,3131,E 68 St & 3 Ave,40.767128,-73.962246,19998,Annual Membership,Subscriber,1965.0,1
507722,464,2018-02-15 11:14:05,2018-02-15 11:21:50,507,E 25 St & 2 Ave,40.739126,-73.979738,402,Broadway & E 22 St,40.740343,-73.989551,28502,Annual Membership,Subscriber,1970.0,1
507723,1283,2018-02-15 08:12:50,2018-02-15 08:34:14,3255,8 Ave & W 31 St,40.750585,-73.994685,426,West St & Chambers St,40.717548,-74.013221,30681,Annual Membership,Subscriber,1963.0,1
507724,937,2018-03-18 11:25:18,2018-03-18 11:40:55,332,Cherry St,40.712199,-73.979481,502,Henry St & Grand St,40.714215,-73.981346,30643,Annual Membership,Subscriber,1971.0,1
507725,260,2018-03-09 07:15:49,2018-03-09 07:20:09,247,Perry St & Bleecker St,40.735354,-74.004831,3260,Mercer St & Bleecker St,40.727064,-73.996621,17109,Annual Membership,Subscriber,1991.0,1
507726,1026,2018-03-29 12:09:53,2018-03-29 12:26:59,518,E 39 St & 2 Ave,40.747804,-73.973442,3443,W 52 St & 6 Ave,40.761330,-73.979820,19334,24 Hour,Customer,NaN,0
507727,176,2018-03-06 17:47:28,2018-03-06 17:50:25,3155,Lexington Ave & E 63 St,40.764400,-73.966490,3355,E 66 St & Madison Ave,40.768009,-73.968453,26866,Join Citi Bike for $14.95/month,Subscriber,1976.0,1
507728,350,2018-01-21 14:26:20,2018-01-21 14:32:10,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,239,Willoughby St & Fleet St,40.691966,-73.981302,27097,Annual Membership,Subscriber,1953.0,1
507729,101,2018-03-20 11:50:44,2018-03-20 11:52:25,457,Broadway & W 58 St,40.766953,-73.981693,500,Broadway & W 51 St,40.762288,-73.983362,26384,Annual Membership,Subscriber,1979.0,1
507730,157,2018-03-29 23:59:56,2018-03-30 00:02:34,368,Carmine St & 6 Ave,40.730386,-74.002150,254,W 11 St & 6 Ave,40.735324,-73.998004,28593,Join Citi Bike for $14.95/month,Subscriber,1985.0,1
507731,1801,2018-03-26 19:42:54,2018-03-26 20:12:56,252,MacDougal St & Washington Sq,40.732264,-73.998522,3173,Riverside Blvd & W 67 St,40.777507,-73.988886,17088,Annual Membership,Subscriber,1955.0,1
507732,1236,2018-02-14 06:02:40,2018-02-14 06:23:17,3283,W 89 St & Columbus Ave,40.788221,-73.970416,490,8 Ave & W 33 St,40.751551,-73.993934,18160,NYCHA Membership,Subscriber,1979.0,1
507733,427,2018-02-10 10:23:10,2018-02-10 10:30:18,297,E 15 St & 3 Ave,40.734232,-73.986923,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,19313,Annual Membership,Subscriber,NaN,0
507734,574,2018-03-19 23:42:38,2018-03-19 23:52:13,336,Sullivan St & Washington Sq,40.730477,-73.999061,461,E 20 St & 2 Ave,40.735877,-73.982050,33089,Annual Membership,Subscriber,1991.0,1
507735,213,2018-03-14 10:01:12,2018-03-14 10:04:46,518,E 39 St & 2 Ave,40.747804,-73.973442,527,E 33 St & 2 Ave,40.744023,-73.976056,28753,Annual Membership,Subscriber,1990.0,1
507736,242,2018-03-11 10:01:37,2018-03-11 10:05:39,344,Monroe St & Bedford Ave,40.685144,-73.953809,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,28506,Annual Membership from Citi Bike App,Subscriber,1979.0,0
507737,966,2018-01-30 09:51:25,2018-01-30 10:07:32,406,Hicks St & Montague St,40.695128,-73.995951,417,Barclay St & Church St,40.712912,-74.010202,15636,Annual Membership,Subscriber,1967.0,1
507738,616,2018-03-19 17:18:34,2018-03-19 17:28:51,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,232,Cadman Plaza E & Tillary St,40.695977,-73.990149,27430,Join Citi Bike for $14.95/month,Subscriber,1971.0,1
507739,494,2018-01-21 21:41:07,2018-01-21 21:49:21,251,Mott St & Prince St,40.723180,-73.994800,432,E 7 St & Avenue A,40.726218,-73.983799,27101,Annual Membership from Citi Bike App,Subscriber,1986.0,2
507740,2305,2018-03-25 17:20:25,2018-03-25 17:58:51,3392,Commerce St & Van Brunt St,40.681212,-74.008609,150,E 2 St & Avenue C,40.720874,-73.980858,30474,Annual Membership,Subscriber,1990.0,1
507741,459,2018-01-25 17:55:27,2018-01-25 18:03:06,3288,E 88 St & 1 Ave,40.778301,-73.948813,3294,E 91 St & Park Ave,40.783502,-73.955327,17507,Annual Membership,Subscriber,1967.0,2
507742,370,2018-03-12 09:11:46,2018-03-12 09:17:56,496,E 16 St & 5 Ave,40.737262,-73.992390,3263,Cooper Square & Astor Pl,40.729515,-73.990753,18260,Annual Membership,Subscriber,1975.0,1
507743,255,2018-01-27 10:47:54,2018-01-27 10:52:10,3365,3 St & 7 Ave,40.670384,-73.978397,3373,3 St & 3 Ave,40.675071,-73.987752,18997,Annual Membership,Subscriber,1987.0,1
507744,521,2018-03-29 17:44:55,2018-03-29 17:53:36,497,E 17 St & Broadway,40.737050,-73.990093,251,Mott St & Prince St,40.723180,-73.994800,33434,Join Citi Bike for $14.95/month,Subscriber,1984.0,1
507745,1229,2018-03-01 12:46:39,2018-03-01 13:07:09,3056,Kosciuszko St & Nostrand Ave,40.690725,-73.951335,3106,Driggs Ave & N Henry St,40.723250,-73.943080,29349,$25 Off Annual Membership,Subscriber,NaN,0
507746,380,2018-03-23 17:15:27,2018-03-23 17:21:48,265,Stanton St & Chrystie St,40.722293,-73.991475,307,Canal St & Rutgers St,40.714275,-73.989900,16277,Annual Membership,Subscriber,1991.0,1
507747,121,2018-02-07 07:29:09,2018-02-07 07:31:11,389,Broadway & Berry St,40.710446,-73.965251,3078,Broadway & Roebling St,40.709248,-73.960631,21414,Annual Membership,Subscriber,1985.0,1
507748,134,2018-01-22 18:53:44,2018-01-22 18:55:58,402,Broadway & E 22 St,40.740343,-73.989551,497,E 17 St & Broadway,40.737050,-73.990093,16322,Annual Membership,Subscriber,1957.0,1

In [28]:
df_sample[['start station id', 
           'tripduration',]].groupby('start station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).head(10)

     start station id  tripduration
255               519          5473
184               435          3541
159               402          3327
431              3255          3226
237               497          3198
66                285          3009
231               490          2987
220               477          2939
258               523          2749
205               459          2618

In [29]:
df_sample[['start station id', 
           'tripduration',]].groupby('start station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).tail(10)

     start station id  tripduration
452              3299            15
674              3557            12
425              3239            11
766              3669            10
754              3650             8
577              3432             7
608              3487             2
606              3485             1
291              3040             1
711              3594             1

In [30]:
df_sample[['end station id', 
           'tripduration',]].groupby('end station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).head(10)

     end station id  tripduration
255             519          5521
237             497          3595
159             402          3582
184             435          3487
432            3255          3283
66              285          3014
231             490          2998
220             477          2968
205             459          2841
258             523          2780

In [31]:
df_sample[['end station id', 
           'tripduration',]].groupby('end station id', 
                                                        as_index=False).count().sort_values(by='tripduration', 
                                                                                            ascending=False).tail(10)

     end station id  tripduration
430            3245            15
675            3557            14
453            3299            12
425            3239            11
755            3650             8
607            3485             2
609            3487             2
414            3184             1
712            3594             1
769            3672             1

In [32]:
df_sample[['start station id', 'gender',]].groupby('gender', as_index=False).count()

   gender  start station id
0       0             26135
1       1            372408
2       2            109206

In [33]:
df_sample[['start station id', 'bikeid',]].groupby('bikeid', as_index=False).count().sort_values(by='start station id', 
                                                                                            ascending=False).head(10)

       bikeid  start station id
9635    30692               131
11453   32749               131
10744   32022               126
11073   32358               126
11136   32421               125
10832   32112               124
10745   32023               123
11228   32517               123
11053   32338               122
11900   33211               120

In [34]:
def age(d):
    response = 2018 - d['birth year']
    return response

In [35]:
df_sample['age'] = df_sample.apply(age, axis=1)

In [36]:
df_sample.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender,age
1222855,666,2018-03-17 19:46:19,2018-03-17 19:57:25,490,8 Ave & W 33 St,40.751551,-73.993934,446,W 24 St & 7 Ave,40.744876,-73.995299,29801,24 Hour,Customer,NaN,0,NaN
827885,703,2018-03-05 07:30:39,2018-03-05 07:42:22,401,Allen St & Rivington St,40.720196,-73.989978,537,Lexington Ave & E 24 St,40.740259,-73.984092,31901,FREE Bonus Month with Annual Membership,Subscriber,1994.0,1,24.0
205643,79,2018-01-13 18:14:54,2018-01-13 18:16:14,252,MacDougal St & Washington Sq,40.732264,-73.998522,369,Washington Pl & 6 Ave,40.732241,-74.000264,26835,Annual Membership,Subscriber,1967.0,1,51.0
345266,226,2018-01-19 22:18:41,2018-01-19 22:22:27,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,15429,Annual Membership from Citi Bike App,Subscriber,1979.0,1,39.0
1225140,566,2018-03-17 22:13:16,2018-03-17 22:22:42,3103,N 11 St & Wythe Ave,40.721533,-73.957824,3108,Nassau Ave & Russell St,40.725570,-73.944340,30768,FREE Bonus Month with Annual Membership,Subscriber,1987.0,2,31.0

In [37]:
df_sample['tripduration'].describe()

count    5.077490e+05
mean     7.660571e+02
std      5.688603e+03
min      6.100000e+01
25%      3.210000e+02
50%      5.210000e+02
75%      8.740000e+02
max      1.624875e+06
Name: tripduration, dtype: float64

In [38]:
df_sample['bin'] = pd.cut(df_sample['tripduration'], [0, 500, 900, 1000000], labels=['short', 'medium', 'long'])

In [39]:
df_sample.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender,age,bin
1222855,666,2018-03-17 19:46:19,2018-03-17 19:57:25,490,8 Ave & W 33 St,40.751551,-73.993934,446,W 24 St & 7 Ave,40.744876,-73.995299,29801,24 Hour,Customer,NaN,0,NaN,medium
827885,703,2018-03-05 07:30:39,2018-03-05 07:42:22,401,Allen St & Rivington St,40.720196,-73.989978,537,Lexington Ave & E 24 St,40.740259,-73.984092,31901,FREE Bonus Month with Annual Membership,Subscriber,1994.0,1,24.0,medium
205643,79,2018-01-13 18:14:54,2018-01-13 18:16:14,252,MacDougal St & Washington Sq,40.732264,-73.998522,369,Washington Pl & 6 Ave,40.732241,-74.000264,26835,Annual Membership,Subscriber,1967.0,1,51.0,short
345266,226,2018-01-19 22:18:41,2018-01-19 22:22:27,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,15429,Annual Membership from Citi Bike App,Subscriber,1979.0,1,39.0,short
1225140,566,2018-03-17 22:13:16,2018-03-17 22:22:42,3103,N 11 St & Wythe Ave,40.721533,-73.957824,3108,Nassau Ave & Russell St,40.725570,-73.944340,30768,FREE Bonus Month with Annual Membership,Subscriber,1987.0,2,31.0,medium
531047,914,2018-01-25 19:25:53,2018-01-25 19:41:08,257,Lispenard St & Broadway,40.719392,-74.002472,504,1 Ave & E 16 St,40.732219,-73.981656,33449,Annual Membership,Subscriber,1972.0,1,46.0,long
120326,626,2018-01-10 14:38:44,2018-01-10 14:49:11,540,Lexington Ave & E 29 St,40.743116,-73.982154,3632,E 12 St & Avenue B,40.728049,-73.978812,21202,CDCU,Subscriber,1987.0,1,31.0,medium
1995090,1278,2018-02-13 07:47:02,2018-02-13 08:08:20,3293,W 92 St & Broadway,40.792100,-73.973900,456,E 53 St & Madison Ave,40.759711,-73.974023,31494,Annual Membership,Subscriber,1976.0,1,42.0,long
80937,784,2018-01-08 22:32:31,2018-01-08 22:45:35,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,3420,Douglass St & 3 Ave,40.680213,-73.984327,31434,Annual Membership,Subscriber,1980.0,1,38.0,medium
523190,783,2018-01-25 16:46:20,2018-01-25 16:59:23,534,Water - Whitehall Plaza,40.702551,-74.012723,249,Harrison St & Hudson St,40.718710,-74.009001,15169,Annual Membership,Subscriber,1992.0,2,26.0,medium
623781,748,2018-01-29 06:10:21,2018-01-29 06:22:50,423,W 54 St & 9 Ave,40.765849,-73.986905,459,W 20 St & 11 Ave,40.746745,-74.007756,33433,Annual Membership,Subscriber,1971.0,1,47.0,medium
1047507,1009,2018-03-12 15:02:29,2018-03-12 15:19:19,418,Front St & Gold St,40.702240,-73.982578,355,Bayard St & Baxter St,40.716021,-73.999744,30811,Annual Membership,Subscriber,1982.0,1,36.0,long
909749,827,2018-03-07 10:25:09,2018-03-07 10:38:57,3160,Central Park West & W 76 St,40.778968,-73.973747,3318,2 Ave & E 96 St,40.783964,-73.947167,30819,Annual Membership,Subscriber,1961.0,1,57.0,medium
1026067,1890,2018-03-11 19:46:48,2018-03-11 20:18:18,3224,W 13 St & Hudson St,40.739974,-74.005139,3435,Grand St & Elizabeth St,40.718822,-73.995960,26125,24 Hour,Customer,NaN,0,NaN,long
2484977,1862,2018-02-27 20:53:25,2018-02-27 21:24:28,379,W 31 St & 7 Ave,40.749156,-73.991600,264,Maiden Ln & Pearl St,40.707065,-74.007319,15678,Annual Membership,Subscriber,1995.0,2,23.0,long
1436355,453,2018-03-25 11:45:36,2018-03-25 11:53:09,494,W 26 St & 8 Ave,40.747348,-73.997236,459,W 20 St & 11 Ave,40.746745,-74.007756,30834,Annual Membership,Subscriber,1991.0,2,27.0,short
1612847,390,2018-03-29 19:21:24,2018-03-29 19:27:54,471,Grand St & Havemeyer St,40.712868,-73.956981,3077,Stagg St & Union Ave,40.708771,-73.950953,32450,Annual Membership,Subscriber,1979.0,1,39.0,short
1714670,89,2018-02-01 15:16:46,2018-02-01 15:18:16,3660,W 16 St & 8 Ave,40.741022,-74.001385,482,W 15 St & 7 Ave,40.739355,-73.999318,27139,Annual Membership,Subscriber,1955.0,1,63.0,short
103839,823,2018-01-09 19:57:31,2018-01-09 20:11:14,527,E 33 St & 2 Ave,40.744023,-73.976056,3223,E 55 St & 3 Ave,40.758997,-73.968654,20052,Annual Membership,Subscriber,1992.0,1,26.0,medium
50104,140,2018-01-04 18:01:39,2018-01-04 18:03:59,3438,E 76 St & 3 Ave,40.772249,-73.958421,3135,E 75 St & 3 Ave,40.771129,-73.957723,32631,Annual Membership,Subscriber,1965.0,2,53.0,short

In [40]:
df_sample[['bin', 'bikeid']].groupby('bin').count()

        bikeid
bin
short   242844
medium  143942
long    120958

In [59]:
membership_list = df_sample['name_localizedValue0'].unique().tolist()

In [60]:
membership_list

['24 Hour',
 'FREE Bonus Month with Annual Membership',
 'Annual Membership',
 'Annual Membership from Citi Bike App',
 'CDCU',
 'Day Pass',
 '$25 Off Annual Membership',
 '$99 Annual Membership for Zipcar members',
 'Join Citi Bike for $14.95/month',
 'Annual Membership - Save 15%',
 'Motivate Employee',
 '3 Day',
 '3-Day Pass from Citi Bike App',
 'NYCBS Employee',
 'CDCU (renewal)',
 'NYCHA Membership (Renewal)',
 'NYCHA Membership',
 '$99 Annual Membership',
 'Citi Bike for Business Annual Membership',
 '$50 Off Annual Membership',
 'Annual Membership - Save $25 to Celebrate Expansion',
 'NYCHA POS',
 'Citi Bike 30-Day Trial Plus $25 Off!',
 'JCHA Annual Membership $5/month',
 'Single Ride POS',
 'Annual Other',
 'Join Citi Bike for $12.95/month',
 'Join Citi Bike for $14/month',
 'Annual Membership - 10% Off',
 '$35 Off Annual Membership',
 '$60 Partial Subsidy Annual Membership',
 'Single Ride',
 'JCBS Employee',
 'Partner',
 '24 Hour from Citi Bike Squad',
 'NYCHA Free 6 Months',
 'Hourly Pass',
 '24 Hour from Citi Bike Squad - $12/hour',
 'Two-Week Free Trial',
 'Annual Membership for Related Rentals residents']

In [45]:
df_sample[['name_localizedValue0', 'bikeid']].groupby('name_localizedValue0', as_index=False).count().sort_values(by='bikeid', ascending=False)

                                 name_localizedValue0  bikeid
11                                  Annual Membership  355408
0                           $25 Off Annual Membership   34607
16               Annual Membership from Citi Bike App   34592
28                    Join Citi Bike for $14.95/month   27037
6                                             24 Hour   14903
23            FREE Bonus Month with Annual Membership    9048
34                         NYCHA Membership (Renewal)    8339
14                       Annual Membership - Save 15%    5844
22                                           Day Pass    4009
33                                   NYCHA Membership    3874
9                                               3 Day    2396
18                                               CDCU    2092
10                      3-Day Pass from Citi Bike App    1513
31                                     NYCBS Employee    1123
19                                     CDCU (renewal)     963
4                               $99 Annual Membership     441
30                                  Motivate Employee     421
13  Annual Membership - Save $25 to Celebrate Expa...     321
20               Citi Bike 30-Day Trial Plus $25 Off!     172
2                           $50 Off Annual Membership     110
35                                          NYCHA POS      90
1                           $35 Off Annual Membership      63
38                                    Single Ride POS      53
17                                       Annual Other      50
37                                        Single Ride      48
27                    Join Citi Bike for $12.95/month      46
29                       Join Citi Bike for $14/month      41
5            $99 Annual Membership for Zipcar members      35
26                    JCHA Annual Membership $5/month      27
36                                            Partner      23
25                                      JCBS Employee      14
12                        Annual Membership - 10% Off      12
3               $60 Partial Subsidy Annual Membership      11
7                        24 Hour from Citi Bike Squad      10
32                                NYCHA Free 6 Months       5
21           Citi Bike for Business Annual Membership       3
39                                Two-Week Free Trial       2
8             24 Hour from Citi Bike Squad - $12/hour       1
24                                        Hourly Pass       1
15    Annual Membership for Related Rentals residents       1